<ul>
    <li>{{burger_name}}</li>

    <button class="change-devoured btn btn btn-outline-warning" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}} Devour!{{/if}} 
    </button>
</ul>